@charset "utf-8";
/* CSS Document */
#paginainicio
{background:#F9C}
#titulo
{background:#CF3;;color:#F06}
#pie
{background:#CF3 ;color:#F06}
#Introduccion
{color:#fff; size:3; text-align:justify; background:#609; margin:1%}
#fondo
{color:#fff; size:3; text-align:justify; background:#9F3; margin:1%}
#pie
{color:#fff; size:3; text-align:justify; background:#F6C; margin:1%}
#fram
{color:#fff; size:3; text-align:justify; background:#F03; margin:1%}
#abajo
{color:#fff; size:3; text-align:justify; background:#3C3; margin:1%}
#fre
{color:#fff; size:3; text-align:justify; background:#F33; margin:1%}
#parte
{color:#000; size:3; text-align:justify; background:#FF3; margin:1%}
#gro
{color:#fff; size:3; text-align:justify; background:#630; margin:1%}
#pag
{color:#fff; size:3; text-align:justify; background:#690; margin:1%}
#negr
{color:#000; size:3; text-align:justify; background:#0C3; margin:1%}
#n1
{color:#fff; size:3; text-align:justify; background:#000; margin:1%}
#roj
{color:#000; size:3; text-align:justify; background:#F30; margin:1%}
#seis
{color:#000; size:3; text-align:justify; background:#F36; margin:1%}
#zarzamor
{color:#000; size:3; text-align:justify; background:#069; margin:1%}
#fondo1
{color:#000; size:3; text-align:justify; background:#6F0; margin:1%}
